.chat-side
  .side-header
    %p.side-hedder__user-name sample_name
    %ul.user-menu
      %li.user-menu__edit-user
        = link_to do
          %i.fa.fa-edit
      %li.user-menu__new-group
        = link_to do
          %i.fa.fa-cog
  %a(href="")
    .groups
      .group
        %p.group__name sample_group
        %p.group__latest-message sample_message




.chat-main
  .main-header
    .current-group sample_group
      %h2.current-group__name sample_group
      %ul.member-list Member:
        %li.member-list__member
    %a(href="") Edit

  .messages
    .mesage
      .message-info
        %p.message-info__user sample_user
        %p.message-info__date = 
      %p.message__text sample_text



  .form
    %form.new-message(action="")
      .input-box type a message
        = link_to do
          %i.fa.fa-image
      %input.new-message__submit-btn(type="submit")
