$white: white;

$black: black;

$side-header-color: #253141;

$groups-color: #2f3e51;

$border-color: #eee;

$current-group-color: #333;

$member-list-color: #999999;

$edit-color: #38aef0;

$message-background-color: #fafafa;

$message-info__user-color: #434a54;

$form-background-color: #ddd;
